@media only screen and (min-width: 38rem) {
    header, main, nav, footer {
        margin: 0 auto;
    }

    header {
        grid-template-columns: 1fr 4fr;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 4fr;
        background: var(--Bone-White);
    }

    .navigation li {
        width: 200px;
        height: auto;
        transition: transform .5s ease;
    }

    .navigation li:hover {
        border-bottom: 1px solid var(--Dark-Grey);
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    #cards img {
        width: 60%;
        margin-left: 1.5rem;
    }

    #view {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        gap: 1rem;
    }

    .view-btn {
        background-color: var(--Dark-Grey);
        color: var(--Bone-White);
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-radius: 10px;
    }

    .view-btn:hover {
        background-color: var(--Light-Grey);
        color: var(--Dark-Grey);
        border: 1px solid var(--Dark-Grey);
        transition: background-color 0.3s, color 0.3s, border 0.3s;
    }

    #cards.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    #cards.list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    #cards.list .card {
        display: flex;
        align-items: center;
    }

    .hero-image-large {
        display: block;
        width: 100%;
        height: auto;
        opacity: 0.5;
    }

    .hero-image-small {
        display: none;
    }

    .hero-content {
        height: 25%;
    }

    .home-info {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    #spotlight-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}