@media screen and (min-width: 641px) {


    #discover-container {
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";
    }

    #discover-container figure {
        overflow: hidden;
        border-radius: 50px;
    }

    #discover-container img {
        transition: transform 0.3s ease;
    }

    #discover-container img:hover {
        transform: scale(1.08);
    }
}